:root {
    --secondary-color: #009ad8;
    --first-dark-color: #1e202b;
    --second-dark-color: #262936;
    --third-dark-color: #323544;
    --font-color: #bfc1c8;

}

body{
    font-family: "Roboto", "Open Sans", sans-serif;
}

.navbar{
    padding: 50px;
}
a{
    text-decoration: none;

}

.navbar img{
    width: 64px;
    height: 38px;
}
.logo{
    position: relative;
    bottom: 15px;
    margin-right: 15px;
}

.navbar .logo,.logo-description{
    display: inline-block;
}

h1{
font-family: "Open Sans";
font-size: 1.1428571429em;
font-weight: 700;
}
.navbar span{
    color:#bfc1c8 ;
    font-size: 10px;
}
.navbar .nav-item {
    display: inline-block;
    padding: 0px 20px;
    margin: 0px 5px;
    border: 2px solid transparent;
    border-radius: 30px;
    color: white;
    font-size: 14px;
    transition: 0.3s ease;
    font-weight: 400;

}
.navbar .nav-item:hover{
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
}
.navbar .nav-item a{
    color: white;
    transition: 0.3s ease;
}

.navbar .nav-item:hover a{
    color: var(--secondary-color);

}
.navbar .active{
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
    display: inline-block;
    padding: 0px 20px;
    border-radius: 30px;
    font-size: 14px;
    transition: 0.3s ease;
    font-weight: 400;
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
    border-color: rgb(255,255,255);
    padding: 15px;
    transition: all 0.3s ease;
}
.custom-toggler.navbar-toggler:hover {
    border-color: rgba(0, 154, 216,1);
} 
.custom-toggler.navbar-toggler:hover .navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 154, 216,1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 
.navbar-toggler{
    all: unset;
    border: 2px solid transparent;
    padding: 10px;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.navbar-toggler:hover{
    border: 2px solid var(--secondary-color);
    border-radius: 50%;
}
/* =============content================= */

.content{
    min-height: 75vh ;
    background-color: var(--first-dark-color);
    background-image: url(../Images/bg-img.png);
    background-repeat: no-repeat;
    background-size: 100% cover ;
    padding: 50px;
}
input{
    all: unset;
}
.content .custom-input {
    display:flex;
    flex-direction:row;
    background-color: var(--first-dark-color);
    border-radius: 30px;
    padding: 5px;
    width: 75%;
    margin: auto;
}

.content .custom-input input{
    border: none;
    flex-grow : 2;
    background-color: transparent;
    color: white;
    padding: 10px;
}
.content .custom-input input::placeholder{
    color: var(--font-color);
    font-size: small;
}
.content .custom-input button{
    padding: 10px 30px;
    border-radius: 30px;
    background:var(--secondary-color);
    color:white;
    font-size: small;
    border: none;
}

/* =============weather============== */

.weather-container{
    width: 75%;
    margin: 50px auto;
    /* height: 400px; */
    border-radius: 10px;
    background-color: var(--third-dark-color);
    overflow: hidden;
    display: flex;
}
.day1{
    background-color: var(--third-dark-color);
}
.day2{
    background-color: var(--first-dark-color);
}
.day3{
    background-color: var(--third-dark-color);
}
.day1-top,.day3-top{
    background-color: #2D303D;
    width: 100%;
}

.day2-top{
    background-color: #262936;
    width: 100%;

}
#country{
    color: var(--font-color);
    font-size: large;
    display: block;
}
#firstDayDegree{
    padding: 30px 10px;
}

.weatherStatue{
    color: var(--secondary-color);
    display: block;
    margin-bottom: 20px;
}
.degreeF{
    color: var(--font-color);
    font-size: 20px;
}
#humImg,#windImg,#windDirImg{
    width: 25px;
    margin-right:5px ;
}
#humPrsntg,#windspeed,#windDir{
    color: var(--font-color);
    margin-right: 30px;
}
/* ===============footer============== */

.footer{
    background-color: var(--third-dark-color);
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    
}

.footer .custom-input {
    display:flex;
    flex-direction:row;
    background-color: var(--first-dark-color);
    border-radius: 30px;
    padding: 5px;
    width: 50%;
    margin-left: 10%;

}

.footer .custom-input input{
    border: none;
    flex-grow : 2;
    background-color: transparent;
    color: white;
    padding: 10px;
}
.footer .custom-input input::placeholder{
    color: var(--font-color);
    font-size: small;
}
.footer .custom-input button{
    padding: 10px 30px;
    border-radius: 30px;
    background:var(--secondary-color);
    color:white;
    font-size: small;
    border: none;
}

.footer .icons{
    width: 40%;
    padding-left: 100px;
}

.footer .icons .icon{
    margin-right: 10px;
    background-color: var(--first-dark-color);
    width: 30px;
    height: 30px;
    padding: 20px;
    border-radius: 50%;
    transition: all 0.3s ease;
}


.footer .icons .icon i{
    color: var(--secondary-color);
    font-size: larger;
    transition: all 0.3s ease;
}

.footer .icons .icon:hover{
    background-color: var(--secondary-color);
    cursor: pointer;
}

.footer .icons .icon:hover i{
    color: white;
}
.footer span{
    color: var(--font-color);
    margin-top: 30px;
    margin-left: 10%;
    font-size: 14px;
}
h2{
    font-size: 80px;
    font-weight: 600;
}
